<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Templates</title>
</head>
<body>
    <h1>Resume Templates</h1>
    <a href="{% url 'template' 1 %}"><img style="max-height: 300px; padding: 20px;" src="/static/images/template1.png" alt="Image">create here</a>
    <a href="{% url 'template' 2 %}"><img style="max-height: 300px;padding: 20px;" src="/static/images/template2.png" alt="Image">create here</a>
    <a href="{% url 'template' 3 %}"><img style="max-height: 300px;padding: 20px;" src="/static/images/template5.png" alt="Image">create here</a>
    

</body>

</html>